@using NinjaHive.WebApp.Areas.Items.Models
@using NinjaHive.WebApp.Extensions
@model IGameItemViewModel

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "";
}

@Html.HiddenFor(m => m.Item.Id)

<div class="col-md-12">
    <div class="col-md-6">
        @Html.FormGroupFor(m => m.Item.Name)

        @Html.FormGroupFor(m => m.Item.SubCategoryId, Model.Categories)

        @Html.FormGroupFor(m => m.Item.Description, new { @class = "form-control", rows = "4" })

        @Html.FormGroupFor(m => m.Item.Value)
    </div>

    <div class="col-md-6">
        @Html.FormGroupFor(m => m.Item.IsUpgrader)
        <br />
        @Html.FormGroupFor(m => m.Item.IsCrafter)
        <br />
        @Html.FormGroupFor(m => m.Item.Craftable)
        <br />
        @Html.FormGroupFor(m => m.Item.IsQuestItem)

    </div>
</div>