@using NinjaHive.WebApp.Models.Skills
@model SkillViewModel

<div class="">
    @using (Html.BeginForm())
    {
        <header class="modal-header">
            <h2 class="text-primary " style="font-size: 24px; font-weight:bold; margin-bottom: 0px; vertical-align:bottom; position:relative;">Details: New Skill </h2>
            <div style="position:relative; margin-top: 10px;"><input type="submit" value="Save" class="btn btn-default" /></div>
        </header>

        <div id="verticalMenu" class="panel-default col-lg-2" style="margin-top: 10px; padding: 0; padding-left: 5px; padding-right: 5px; ">
        </div>
        <div class="panel-default col-lg-6" style="padding: 0; padding-left: 5px; padding-right: 5px;">
            <div class="panel panel-heading" style="margin: 0; padding: 0; left: 0; margin-top: 10px; margin-bottom: 10px; max-height: 100%;">
                <div class="panel-heading panel-title" style="background: rgb(53, 106, 181); color:white; text-indent: 10px;">
                    General Informations
                </div>

                <table class="table table-bordered text-right text-uppercase" style="bottom: 0; margin:0; padding:0; position: relative;">
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Name </td>
                        <td> @Html.TextBoxFor(m => m.SkillName, new { @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Range </td>
                        <td> @Html.TextBoxFor(m => m.SkillRange, new { @type = "number", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Radius </td>
                        <td> @Html.TextBoxFor(m => m.SkillRadius, new { @type = "number", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        @{
                            var targets = new List<SelectListItem>();
                        
                            for(var i = 0; i < 10; i++) {
                                targets.Add(
                                    new SelectListItem
                                        {
                                            Value = i.ToString(),
                                            Text  = "Target" + i.ToString(),
                                            Selected= true,
                                        }
                                );
                            }
                        }

                        <td style="vertical-align: middle; font-weight:bold;"> Target </td>
                        <td>@Html.DropDownListFor(m => m.SkillTarget, targets, new { @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold; padding-left: 10px;"> Target Count </td>
                        <td> @Html.TextBoxFor(m => m.SkillTargetCount, new { @type = "number", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold; padding-left: 10px;"> Friendly </td>
                        @{
                                var boolean = new List<SelectListItem>
                                {
                                        new SelectListItem
                                        {
                                            Value = "true",
                                            Text = "True",
                                            Selected = true,
                                        },
                                        
                                        new SelectListItem
                                        {
                                            Value = "false",
                                            Text = "False",
                                            Selected = true,
                                        }
                                };                                
                        }
                        <td>@Html.DropDownListFor(m => m.SkillFriendly, boolean, new { @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                </table>
            </div>

        </div>
    }
</div>