@using NinjaHive.WebApp.Areas.Items.Controllers
@using NinjaHive.WebApp.Extensions
@model NinjaHive.Contract.Models.TierModel

<div class="row">
    <div class="page-header">

        @using (Html.BeginForm<TiersController>(c => c.Delete(Model), new { @class = "form-delete pull-right" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Id)

            @Html.HiddenFor(m => m.EquipmentItemId)

            <input type="submit" class="btn btn-danger" value="Delete" />
        }
            
        <h2>
            Edit Tier <small>for @Model.EquipmentItemName</small>
        </h2>
    </div>

        <br />

        @using (Html.BeginForm<TiersController>(c => c.Edit(Model), new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationResultsFor(Model)

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="Save changes" />
                </div>
            </div>
        }

    <script>
        ninjaHive.promptBeforeDelete();
    </script>
</div>