@using NinjaHive.WebApp.Extensions
@model NinjaHive.Contract.Models.SkillModel

<div class="col-md-12">
    <div class="col-md-6">
        @Html.HiddenFor(m => m.Id)

        @Html.FormGroupFor(m => m.Name)

        @Html.FormGroupFor(m => m.Range)

        @Html.FormGroupFor(m => m.Radius)

        @Html.FormGroupFor(m => m.Targets)

        <div class="form-group">
            @Html.LabelFor(m => m.Target, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.EnumDropDownListFor(m => m.Target, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Target, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="col-md-6">
        @Html.FormGroupFor(m => m.Friendly)
    </div>
</div>

<div class="col-md-12">
    @Html.EditorFor(m => m.StatInfo)
</div>