@using NinjaHive.Contract.DTOs
@model StatInfo

<div class="">
    @using (Html.BeginForm())
    {
        <header class="modal-header">
            <h2 class="text-primary " style="font-size: 24px; font-weight:bold; margin-bottom: 0px; vertical-align:bottom; position:relative;">Details: New Skill </h2>
            <div style="position:relative; margin-top: 10px;"><input type="submit" value="Save" class="btn btn-default" /></div>
        </header>

        <div id="verticalMenu" class="panel-default col-lg-2" style="margin-top: 10px; padding: 0; padding-left: 5px; padding-right: 5px; ">
        </div>
        <div class="panel-default col-lg-6" style="padding: 0; padding-left: 5px; padding-right: 5px;">
            <div class="panel panel-heading" style="margin: 0; padding: 0; left: 0; margin-top: 10px; margin-bottom: 10px; max-height: 100%;">
                <div class="panel-heading panel-title" style="background: rgb(53, 106, 181); color:white; text-indent: 10px;">
                    General Informations
                </div>

                <table class="table table-bordered text-right text-uppercase" style="bottom: 0; margin:0; padding:0; position: relative;">
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Health </td>
                        <td> @Html.TextBoxFor(m => m.Health, new { @type = "number", @placeholder = "0", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Magic </td>
                        <td> @Html.TextBoxFor(m => m.Magic, new { @type = "number", @placeholder = "0", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Attack </td>
                        <td> @Html.TextBoxFor(m => m.Attack, new { @type = "number", @placeholder = "0", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Defense </td>
                        <td> @Html.TextBoxFor(m => m.Defense, new { @type = "number", @placeholder = "0", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Agility </td>
                        <td> @Html.TextBoxFor(m => m.Agility, new { @type = "number", @placeholder = "0", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Intelligence </td>
                        <td> @Html.TextBoxFor(m => m.Intelligence, new { @type = "number", @placeholder = "0", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Hunger </td>
                        <td> @Html.TextBoxFor(m => m.Hunger, new { @type = "number", @placeholder = "0", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Stamina </td>
                        <td> @Html.TextBoxFor(m => m.Stamina, new { @type = "number", @placeholder = "0", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; font-weight:bold;"> Resistance </td>
                        <td> @Html.TextBoxFor(m => m.Resistance, new { @type = "number", @placeholder = "0", @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                </table>
            </div>

        </div>
    }
</div>

