@using NinjaHive.Contract.DTOs
@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Services
@model StatInfo[]

<div class="row">
    <div class="col-md-12">
        <br />
        <p>
            @Html.ActionLink("Create Stat Info", "Create", null, new { @class = "btn btn-default" })
        </p>
        <hr />
        <h4>List of items in the database</h4>
    </div>
    @foreach (var stat in Model)
    {
        var statId = stat.Id;
        var itemDetailsUrl = UrlProvider<StatsController>.GetUrl(c => c.Edit(statId));

        <div class="col-md-2">
            <div class="thumbnail">
                <div class="caption">
                        Health: @stat.Health<br/>
                        Magic: @stat.Magic<br/>
                        Attack: @stat.Attack<br/>
                        <div>
                            Defense: @stat.Defense<br/>
                            Agility: @stat.Agility<br/>
                            Intelligence: @stat.Intelligence<br/>
                            Hunger: @stat.Hunger<br/>
                            Stamina: @stat.Stamina<br/>
                            Resistance: @stat.Resistance<br/><br />
                        </div>

                    @*<a>More...</a><hr style="margin: 0; margin-bottom: 5px;"/>*@

                        @Html.ActionLink("Delete", "Delete", stat)<br />
                        <a href="@itemDetailsUrl"> Edit </a>
                </div>
            </div>
        </div>
    }
</div>
