@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Extensions
@using NinjaHive.WebApp.Helpers
@model NinjaHive.WebApp.Models.GameItemViewModel


<div class="row">
    <div class="page-header">
        <h2>
            Game Item <small>Edit</small>
        </h2>
    </div>

    <div class="col-md-offset-10">
        <button id="deleteItem" type="button" class="btn btn-danger">Delete</button>
    </div>

    @{ Html.BeginForm<ItemsController>(c => c.Edit(null), new { @class = "form-horizontal", role = "form", name="itemEditForm" }); }
    @Html.AntiForgeryToken()

    @Html.Partial(Partials.EditGameItem, Model)

    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary" value="Save changes" />
        </div>
    </div>

    @{ Html.EndForm(); }
</div>
@Scripts.Render("~/bundles/ninjahive")

@section Scripts {
    <script>
        $(function ()
        {
            $("#deleteItem").click(function () {
                
                ninjaHive.modal.questionDialog("Are You Sure?", "Are you sure that you want to delete this item? This action cannot be undone and all associated information with this item will be lost.")
                    .on("submit", function (evt) {
                        @{
                            var deleteUrl = UrlProvider<ItemsController>.GetUrl(c => c.Delete(Model.GameItem.Id));
                            var redirectUrl = UrlProvider<ItemsController>.GetUrl(c => c.Index());
                        }
                        var itemForm = document.forms['itemEditForm'];
                        ninjaHive.sendVerifiableForm(itemForm, "@deleteUrl",
                                 {
                                     onSuccess: function(evt, ajax)
                                     {
                                         ninjaHive.modal.alertDialog("SUCCESS!", "Redirecting...");
                                         window.location.href = "@redirectUrl";
                                     },
                                     onError: function(evt, ajax)
                                     {
                                         ninjaHive.modal.alertDialog("An Error Has Occurred", "There was an error processing your request. Please try again later.");
                                         console.log("RequestError:" + ajax.responseText);
                                     }
                                 });
                    });
            });
        });
    </script>
}