@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Extensions
@model NinjaHive.WebApp.Models.ResetPasswordViewModel

<h2>Reset Password</h2>

@using (Html.BeginForm<AccountController>(c => c.ResetPassword(Model), new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Fill in the forms below to reset your password.</h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.UserId);
    @Html.HiddenFor(m => m.PasswordResetToken);

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Reset password" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}